@model WebsitePerformance.ViewModels.GetUriPerformanceViewModel

@{
    ViewData["Title"] = "Home Page";
}


<div class="form-group">
    <form asp-action="Performance" method="post">
        <label asp-for="Uri"></label>
        <input class="form-control" style="width:500px; margin-bottom: 10px" type="text" asp-for="Uri" />
        <input type="submit" class="btn btn-primary" value="Start" /><br />
        <span asp-validation-for="Uri" class="text-danger"></span>
    </form>
</div>

